<html>
    <head>
        <title>404</title>
         <link rel="icon" href="/img/weather1.png">
 
     <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
      <div class="main">
        {{>header}}
     
      <p>{{errmsg}}</p>
        </div> 
    {{>footer}}
    </body>

</html>