<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/weather1.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
         {{>header}}
        <img class="portraits" src="/img/Akram.jpg">
        <p>Developer Credits:Akram Sheriff    contact:akram05042000@gmail.com<br>
            Design-Idea credits:Varun Kumar-Full Stack Developer    contact:varunkumar30999@gmail.com<br>
            Instructor:Andrew Medan

        </p>
        </div>
        {{>footer}}
    </body>
</html>