<html>
    <head>
 <title>Help</title>
 <link rel="icon" href="/img/weather1.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
   <div class="main">
        {{>header}}
         <p>step 1: Enter valid address to find Weather<br><br>
         step 2: weather 360 will fetch current Weather for your location </p>
   </div>
    {{>footer}}
    </body>

</html>